@media (min-width: 320px) and (max-width: 359px) {
#zone-user-wrapper {
	.region-user-second {
		background-color: #5998C1 !important;

		#block-block-1 {
			font-size: 12px;
			
			.address, .phone-number {
				clear: both;
				line-height: normal !important;
			}

			.phone-number {
				padding: 0 !important;
			}
		}
	}
}

#zone-branding-wrapper {
	#region-branding {
		margin: 0 0 15px 0 !important;
	}

	#region-menu {
		width: 100%;
		margin: 0 0 10px 0 !important;
		
		.tb-megamenu {
			width: 100%;
			
			button {
				width: 100%;
			}

			ul li {
				background: #fff;

                                ul.tb-megamenu-subnav li.active {
                                        background: #5998c1;
                                }
			}
		}
	}
}

#zone-header {
	.region-header-first {
		top: 557px !important;

		#block-blockify-blockify-page-title {
			h1#page-title {
				margin-left: 10px !important;
			}
		}
	}
}

#zone-content {
	.breadcrumb {
		padding-left: 0;
		left: 0;
		bottom: 20px;
	}
}

#zone-contact {
	.form-item {
		label {
			font-size: 18px !important;
		}
	}
	
	.right-col, .left-col {
		.contact-block {
			font-size: 13px !important;
		}
	}
}

#zone-preface {
	#block-block-3 {
		p {
			font-size: 15px;
		}
	}
}

#zone-postscript {
	#block-views-testimonials-block {
		.view-testimonials {
			.views-row {
				.views-field-body {
					font-size: 15px !important;
				}
		
				.views-field-field-name {
					font-size: 20px !important;
				}
			}
		}
	}
}

#zone-footer {
	.region-footer-second {
		#block-multiblock-1 {
			p {
				top: 0 !important;
				left: 90px !important;
			}
		}
	}

	.region-footer-third {
		#block-block-4 {
			p {
				text-align: center;
				top: 15px !important;
			}
		}
	}	
}
}


@media (min-width: 360px) and (max-width: 374px) {
#zone-user-wrapper {
	.region-user-second {
		background-color: #5998C1 !important;

		#block-block-1 {
			font-size: 14px;
			
			.address, .phone-number {
				clear: both;
				line-height: normal !important;
			}

			.phone-number {
				padding: 0 !important;
			}
		}
	}
}

#zone-branding-wrapper {
	#region-branding {
		margin: 0 0 15px 0 !important;
	}

	#region-menu {
		width: 100%;
		margin: 0 0 10px 0 !important;
		
		.tb-megamenu {
			button.btn-navbar {
				background-image: url("../images/menu-button.png");
				background-repeat: no-repeat;
				background-position: center;
				background-color: #5998C1;

				i::before {
					content: none;
				}
			}

			width: 100%;
			
			button {
				width: 100%;
			}

			ul li {
				background: #fff;

                                ul.tb-megamenu-subnav li.active {
                                        background: #5998c1;
                                }
			}
		}
	}
}

#zone-header {
	.region-header-first {
		top: 532px !important;

		#block-blockify-blockify-page-title {
			h1#page-title {
				margin-left: 10px !important;
			}
		}
	}
}

#zone-content {
	.breadcrumb {
		padding-left: 0;
		left: 0;
		bottom: 20px;
	}
}

#zone-contact {
	.form-item {
		label {
			font-size: 18px !important;
		}
	}
	
	.right-col, .left-col {
		.contact-block {
			font-size: 14px !important;
		}
	}
}

#zone-preface {
	#block-block-3 {
		p {
			font-size: 15px;
		}
	}
}

#zone-postscript {
	#block-views-testimonials-block {
		.view-testimonials {
			.views-row {
				.views-field-body {
					font-size: 15px !important;
				}
		
				.views-field-field-name {
					font-size: 20px !important;
				}
			}
		}
	}
}

#zone-footer {
	.region-footer-second {
		#block-multiblock-1 {
			p {
				top: 0 !important;
				left: 110px !important;
			}
		}
	}

	.region-footer-third {
		#block-block-4 {
			p {
				text-align: center;
				top: 15px !important;
			}
		}
	}	
}
}

@media (min-width: 375px) and (max-width: 410px) {
#zone-user-wrapper {
	.region-user-second {
		background-color: #5998C1 !important;

		#block-block-1 {
			font-size: 15px;
			
			.address, .phone-number {
				clear: both;
				line-height: normal !important;
			}

			.phone-number {
				padding: 0 !important;
			}
		}
	}
}

#zone-branding-wrapper {
	#region-branding {
		margin: 0 0 15px 0 !important;
	}

	#region-menu {
		width: 100%;
		margin: 0 0 10px 0 !important;
		
		.tb-megamenu {
			button.btn-navbar {
                                background-image: url("../images/menu-button.png");
                                background-repeat: no-repeat;
                                background-position: center;
                                background-color: #5998C1;

                                i::before {
                                        content: none;
                                }
                        }

			width: 100%;
			
			button {
				width: 100%;
			}

			ul li {
				background: #fff;

                                ul.tb-megamenu-subnav li.active {
                                        background: #5998c1;
                                }
			}
		}
	}
}

#zone-header {
	.region-header-first {
		top: 538px !important;

		#block-blockify-blockify-page-title {
			h1#page-title {
				margin-left: 10px !important;
			}
		}
	}
}

#zone-content {
	.breadcrumb {
		padding-left: 0;
		left: 0;
		bottom: 20px;
	}
}

#zone-contact {
	.form-item {
		label {
			font-size: 18px !important;
		}
	}
	
	.right-col, .left-col {
		.contact-block {
			font-size: 15px !important;
		}
	}
}

#zone-preface {
	#block-block-3 {
		p {
			font-size: 15px;
		}
	}
}

#zone-postscript {
	#block-views-testimonials-block {
		.view-testimonials {
			.views-row {
				.views-field-body {
					font-size: 15px !important;
				}
		
				.views-field-field-name {
					font-size: 20px !important;
				}
			}
		}
	}
}

#zone-footer {
	.region-footer-second {
		#block-multiblock-1 {
			p {
				top: 0 !important;
				left: 120px !important;
			}
		}
	}

	.region-footer-third {
		#block-block-4 {
			p {
				text-align: center;
				top: 15px !important;
			}
		}
	}	
}
}

@media (min-width: 411px) and (max-width: 430px) {
#zone-user-wrapper {
	.region-user-second {
		background-color: #5998C1 !important;

		#block-block-1 {
			font-size: 14px;
			
			.address, .phone-number {
				clear: both;
				line-height: normal !important;
			}

			.phone-number {
				padding: 0 !important;
			}
		}
	}
}

#zone-branding-wrapper {
	#region-branding {
		margin: 0 0 15px 0 !important;
	}

	#region-menu {
		width: 100%;
		margin: 0 0 10px 0 !important;
		
		.tb-megamenu {
			button.btn-navbar {
                                background-image: url("../images/menu-button.png");
                                background-repeat: no-repeat;
                                background-position: center;
                                background-color: #5998C1;

                                i::before {
                                        content: none;
                                }
                        }

			width: 100%;
			
			button {
				width: 100%;
			}

			ul li {
				background: #fff;

                                ul.tb-megamenu-subnav li.active {
                                        background: #5998c1;
                                }
			}
		}
	}
}

#zone-header {
	.region-header-first {
		top: 551px !important;

		#block-blockify-blockify-page-title {
			h1#page-title {
				margin-left: 10px !important;
			}
		}
	}
}

#zone-content {
	.breadcrumb {
		padding-left: 0;
		left: 0;
		bottom: 20px;
	}
}

#zone-contact {
	.form-item {
		label {
			font-size: 18px !important;
		}
	}
	
	.right-col, .left-col {
		.contact-block {
			font-size: 17px !important;
		}
	}
}

#zone-preface {
	#block-block-3 {
		p {
			font-size: 15px;
		}
	}
}

#zone-postscript {
	#block-views-testimonials-block {
		.view-testimonials {
			.views-row {
				.views-field-body {
					font-size: 15px !important;
				}
		
				.views-field-field-name {
					font-size: 20px !important;
				}
			}
		}
	}
}

#zone-footer {
	.region-footer-second {
		#block-multiblock-1 {
			p {
				top: 0 !important;
				left: 135px !important;
			}
		}
	}

	.region-footer-third {
		#block-block-4 {
			p {
				text-align: center;
				top: 15px !important;
			}
		}
	}	
}
}

@media (min-width: 431px) and (max-width: 440px) {
#zone-user-wrapper {
	.region-user-second {
		background-color: #5998C1 !important;

		#block-block-1 {
			font-size: 15px;
			
			.address, .phone-number {
				clear: both;
				line-height: normal !important;
			}

			.phone-number {
				padding: 0 !important;
			}
		}
	}
}

#zone-branding-wrapper {
	#region-branding {
		margin: 0 0 15px 0 !important;
	}

	#region-menu {
		width: 100%;
		margin: 0 0 10px 0 !important;
		
		.tb-megamenu {
			button.btn-navbar {
                                background-image: url("../images/menu-button.png");
                                background-repeat: no-repeat;
                                background-position: center;
                                background-color: #5998C1;

                                i::before {
                                        content: none;
                                }
                        }

			width: 100%;
			
			button {
				width: 100%;
			}

			ul li {
				background: #fff;

				ul.tb-megamenu-subnav li.active {
					background: #5998c1;
				}
			}
		}
	}
}

#zone-header {
	.region-header-first {
		top: 557px !important;

		#block-blockify-blockify-page-title {
			h1#page-title {
				margin-left: 10px !important;
			}
		}
	}
}

#zone-content {
	.breadcrumb {
		padding-left: 0;
		left: 0;
		bottom: 20px;
	}
}

#zone-contact {
	.form-item {
		label {
			font-size: 18px !important;
		}
	}
	
	.right-col, .left-col {
		.contact-block {
			font-size: 18px !important;
		}
	}
}

#zone-preface {
	#block-block-3 {
		p {
			font-size: 15px;
		}
	}
}

#zone-postscript {
	#block-views-testimonials-block {
		.view-testimonials {
			.views-row {
				.views-field-body {
					font-size: 15px !important;
				}
		
				.views-field-field-name {
					font-size: 20px !important;
				}
			}
		}
	}
}

#zone-footer {
	.region-footer-second {
		#block-multiblock-1 {
			p {
				top: 0 !important;
				left: 150px !important;
			}
		}
	}

	.region-footer-third {
		#block-block-4 {
			p {
				text-align: center;
				top: 15px !important;
			}
		}
	}	
}
}

@media (min-width: 441px) and (max-width: 739px) {
#zone-footer {
	.region-footer-second {
		.social-button {
			position: absolute;
			float: left;
		}

		.facebook-button {
			left: 7%;
		}

		.twitter-button {
			left: 17%;
		}
	
		.youtube-button {
			left: 27%;
		}
	}

	.region-footer-third {
		margin-top: 30px;
	}
}
}

@media (min-width: 441px) and (max-width: 979px) {
#zone-user-wrapper {
	.region-user-second {
		background-color: #5998C1 !important;

		#block-block-1 {
			font-size: 15px;
			
			.address, .phone-number {
				clear: both;
				line-height: normal !important;
			}

			.phone-number {
				padding: 0 !important;
			}
		}
	}
}

#zone-branding-wrapper {
	#region-branding {
		margin-top: 30px !important;
		width: 100%;

		.logo-img {
			float: none;
			text-align: center;
		}
	}

	#region-menu {
		width: 100%;
		margin: 0 0 10px 0 !important;
		
		.tb-megamenu {
			button.btn-navbar {
                                background-image: url("../images/menu-button.png");
                                background-repeat: no-repeat;
                                background-position: center;
                                background-color: #5998C1;

                                i::before {
                                        content: none;
                                }
                        }

			width: 100%;
			
			button {
				width: 100%;
			}

			ul li {
				background: #fff;

				ul.tb-megamenu-subnav li.active {
					background: #5998c1;
				}
			}
		}
	}
}

#zone-header {
	.region-header-first {
		top: 557px !important;

		#block-blockify-blockify-page-title {
			h1#page-title {
				margin-left: 10px !important;
			}
		}
	}
}

#zone-content {
	.breadcrumb {
		padding-left: 0;
		left: 0;
		bottom: 20px;
	}
}

#zone-contact {
	.form-item {
		label {
			font-size: 18px !important;
		}
	}
	
	.right-col, .left-col {
		.contact-block {
			font-size: 18px !important;
		}
	}
}

#zone-preface {
	#block-block-3 {
		p {
			font-size: 15px;
		}
	}
}

#zone-postscript {
	#block-views-testimonials-block {
		.view-testimonials {
			.views-row {
				.views-field-body {
					font-size: 15px !important;
				}
		
				.views-field-field-name {
					font-size: 20px !important;
				}
			}
		}
	}
}

#zone-footer {
	.region-footer-second {
		#block-multiblock-1 {
			p {
				top: 0 !important;
				left: 150px !important;
			}
		}
	}

	.region-footer-third {
		#block-block-4 {
			p {
				text-align: center;
				top: 15px !important;
			}
		}
	}	
}
}

